<div class="container-fluid">
  <div class="row">
    <div class="col-xs-12 movies">
      <% movies.each do |movie| %>
        <div class="movie-container">
          <div class="movie-poster">
            <%= link_to movie_path(movie) do %>
              <%= image_tag movie.large_poster_url, title: movie.title_with_year %>
            <% end %>
          </div>

          <%= render 'movies/actions', movie: movie %>
        </div>
      <% end %>
    </div>
    <div class="col-xs-12">
      <%= paginate @movies %>
    </div>
  </div>
</div>
