<div id="youtube-player"></div>
<script>
  var reloadYoutube = function () {
    if (window.YT) {
      return
    }
    var tag = document.createElement('script')
    tag.src = "https://www.youtube.com/player_api"
    var firstScriptTag = document.getElementsByTagName('script')[0]
    firstScriptTag.parentNode.insertBefore(tag, firstScriptTag)
  }

  reloadYoutube()

  $(document).on('turbolinks:load', function() {
    onYouTubeIframeAPIReady && onYouTubeIframeAPIReady()
  })

  var youtubePlayer = null
  function onYouTubeIframeAPIReady() {
    if (!window.YT || window.youtubePlayer) {
      return
    }

    youtubePlayer = new YT.Player('youtube-player', {
      height: '<%= height %>',
      width: '<%= width %>',
      videoId: '<%= youtube_video_id %>',
      events: {
        onReady: onPlayerReady,
        onStateChange: onPlayerStateChange,
        onError: onError
      }
    })
  }

  function onError(event) {
    navigateToNextPage()
  }

  function onPlayerReady(event) {
    <% if autoplay %>
      event.target.playVideo()
    <% end %>
  }

  function onPlayerStateChange(event) {
    if(event.data === 0) {
      <% if next_page_path.present? %>
        window.location = '<%= next_page_path.html_safe %>'
      <% end %>
    }
  }
</script>
