.actions {
  height: 50px;
  margin: 0;

  .stars {
    float: left;
    margin-top: 12px;

    .star {
      display: inline;

      form {
        display: inline;

        button {
          padding: 0;
        }
      }
    }
  }

  .want-container {
    float: right;
    text-align: right;

    form {
      button {
        padding: 0;
      }
    }
  }
}
