.actions {
  margin: 0;
  text-align: center;

  .stars {
    padding-top: 10px;
    padding-bottom: 10px;

    background-color: black;

    .star {
      display: inline;

      form {
        display: inline;
      }

      button, a {
        padding: 0;
        // http://www.colourlovers.com/palette/4511728/Rainbow_%C3%89toile
        color: #FF98C6;
      }
    }
  }

  .want-to-watch {
    form {
      display: inline;
    }

    button, a {
      width: 100%;
      border-radius: 0;
    }
  }
}
