.movie-title {
  font-size: 20px;
}

.movie-poster {
  height: 450px;
  background-repeat: no-repeat;
  background-size: cover;

  img {
    max-width: 100%;
  }
}

.movie-details {
  .movie-detail {
    .movie-detail-title {
      font-weight: bold;
    }
  }
}

.movies {
  .movie-container {
    border: 1px solid #ddd;
    border-radius: 3px;
    max-width: 300px;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;

    .movie-title {
      text-align: center;
      padding-top: 10px;
      padding-bottom: 10px;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
      margin-left: 10px;
      margin-right: 10px;
    }
  }
}

.movie {
  .trailer {
    height: 300px;
    min-height: 300px;
  }

  @media (min-width: $screen-sm-min) {
    .trailer {
      height: 400px;
      min-height: 400px;
    }
  }

  @media (min-width: $screen-md-min) {
    .trailer {
      height: 500px;
      min-height: 500px;
    }
  }

  @media (min-width: $screen-lg-min) { }
}

.discover {
  position: fixed;
  z-index: 999;
  top: 50px;
  left: 0;
  right: 0;
  bottom: 0;

  .video {
    position: absolute;
    top: 0;
    bottom: 138px;
    left: 0;
    right: 0
  }

  .bottom-row {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;

    .navigation {
      a {
        border-radius: 0;
        width: 100%;
        height: 100%
      }
    }
  }
}
