.movie {
  .title {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    padding: 5px;
    font-size: 20px;
  }

  .detail {
    .detail-title {
      font-weight: bold;
    }
  }
}

.movies {
  .movie {
    display: inline-block;
    border: 1px solid #ddd;
    border-radius: 3px;
    margin-left: 0;
    margin-right: 10px;
    margin-bottom: 10px;
    max-width: 300px;

    .poster {
      img {
        display: block;
        max-width: 100%;
        height: auto;

        min-width: 300px;
        min-height: 450px;
      }
    }
  }
}
