.movie {
  display: inline-block;
  border: 1px solid #ddd;
  border-radius: 3px;
  margin-left: 0;
  margin-right: 10px;
  margin-bottom: 10px;
  max-width: 300px;

  .title {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    padding: 5px;
    font-size: 20px;
  }

  .poster {

    img {
      display: block;
      max-width: 100%;
      height: auto;

      min-width: 300px;
      min-height: 450px;
    }
  }

  .actions {
    margin-left: 20px;
    margin-right: 20px;
    padding-top: 20px;
    padding-bottom: 20px;

    .star {
      display: inline;

      form {
        display: inline;

        button {
          padding: 0;
        }
      }
    }

    .want-to-watch {
      text-align: center;
      display: inline;
      float: right;
      form {
        display: inline;

        button {
          padding: 0;
        }
      }
    }
  }
}
